*.tmp
bats/
target/
tests/functions/init.groovy.d/
tests/functions/java_cp/
tests/functions/copy_reference_file.log
tests/**/work-*/
manifest-tool
multiarch/qemu-*
multiarch/Dockerfile-*
/docker.iml
work-pester-jenkins-windows/
/.idea/

/**/windows/**/jenkins.ps1
/**/windows/**/jenkins-plugin-cli.ps1
/**/windows/**/jenkins-support.psm1
