.m2/
.ivy2/
.sbt/
.ssh/
.emacs.d/
logs/
nodes/
.gitconfig
.viminfo
.bash_history
log
*.log
*.tmp
*.old
*.bak
*.jar
*.swp
.owner
terracotta/
updates/
fingerprints/
config-history/
# Only get the config.xml from any Jobs directory
jobs/*/builds
jobs/*/modules
jobs/*/htmlreports
jobs/*/last*
jobs/*/next*
jobs/*/*.csv
jobs/*/*.txt
jobs/*/*.log
jobs/*/workspace
jobs/*/modules
# Process jobs that exist in folders
jobs/**/jobs
# More files
war
workspace
secrets
users
secret.key*
identity.key*
plugins/*/
.cache/
.gitignore
.java/
.sonar/
userContent/
tools/
workflow-libs/
scriptApproval.xml
plugins/
init.groovy.d/
credentials.xml
buildstep-config-files.xml
jenkins.install.InstallUtil.lastExecVersion
jenkins.install.UpgradeWizard.state
nodeMonitors.xml
**/build.xml
org.jenkinsci.plugins.github.GitHubPlugin.cache
**/GitHubOrgHook.SymphonyOSF
**/computation.xml
