ant:1.2
antisamy-markup-formatter:1.1
build-flow-plugin:0.16
credentials:1.22
cvs:2.11
docker-build-publish:0.9
docker-build-step:1.18
external-monitor-job:1.4
git:2.3.4
git-client:1.15.0
github:1.10
github-api:1.59
javadoc:1.1
junit:1.2-beta-4
ldap:1.6
mailer:1.11
matrix-auth:1.1
matrix-project:1.4
maven-plugin:2.7.1
metrics:3.0.9
openid:2.1.1
openid4java:0.9.8.0
pam-auth:1.1
scm-api:0.2
ssh-credentials:1.10
ssh-slaves:1.9
subversion:1.54
support-core:2.20
token-macro:1.10
translation:1.10
windows-slaves:1.0
