<?xml version='1.0' encoding='UTF-8'?>
<freestyle-multi-branch-project plugin="multi-branch-project-plugin@0.4.2">
  <actions/>
  <description>Freestyle multi-branch project to evaluate the git plugin</description>
  <displayName>Git Plugin Freestyle Multi-branch</displayName>
  <properties/>
  <views>
    <branch-list-view>
      <owner class="freestyle-multi-branch-project" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*</includeRegex>
      <recurse>false</recurse>
    </branch-list-view>
  </views>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric plugin="cloudbees-folder@5.12"/>
  </healthMetrics>
  <icon class="com.github.mjdetullio.jenkins.plugins.multibranch.BallColorFolderIcon">
    <owner class="freestyle-multi-branch-project" reference="../.."/>
  </icon>
  <orphanedItemStrategy class="com.cloudbees.hudson.plugins.folder.computed.DefaultOrphanedItemStrategy" plugin="cloudbees-folder@5.12">
    <pruneDeadBranches>true</pruneDeadBranches>
    <daysToKeep>0</daysToKeep>
    <numToKeep>0</numToKeep>
  </orphanedItemStrategy>
  <triggers/>
  <disabled>false</disabled>
  <disabledSubProjects/>
  <allowAnonymousSync>false</allowAnonymousSync>
  <suppressTriggerNewBranchBuild>false</suppressTriggerNewBranchBuild>
  <scmSource class="jenkins.plugins.git.GitSCMSource" plugin="git@2.5.1-SNAPSHOT">
    <id>d63bb3d1-15c4-43ba-b32d-17dcec4c9d26</id>
    <remote>git://github.com/MarkEWaite/git-plugin.git</remote>
    <credentialsId></credentialsId>
    <includes>master-PR*</includes>
    <excludes></excludes>
    <ignoreOnPushNotifications>false</ignoreOnPushNotifications>
    <browser class="hudson.plugins.git.browser.GithubWeb">
      <url>https://github.com/MarkEWaite/git-plugin</url>
    </browser>
    <gitTool>jgit</gitTool>
    <extensions>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>false</shallow>
        <noTags>true</noTags>
        <reference>/var/lib/git/mwaite/jenkins/git-plugin.git</reference>
        <timeout>1</timeout>
        <depth>0</depth>
      </hudson.plugins.git.extensions.impl.CloneOption>
      <hudson.plugins.git.extensions.impl.AuthorInChangelog/>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
      <hudson.plugins.git.extensions.impl.PruneStaleBranch/>
      <hudson.plugins.git.extensions.impl.LocalBranch>
        <localBranch>**</localBranch>
      </hudson.plugins.git.extensions.impl.LocalBranch>
    </extensions>
  </scmSource>
</freestyle-multi-branch-project>
