<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/SymphonyOSF/warp-drive-jenkins-config.git</url>
        <credentialsId>symphonyjenkinsauto</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H/15 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cp $JENKINS_HOME/*.xml .

if [ -f $JENKINS_HOME/jobs/SymphonyOSF/config.xml ]; then
	if [ ! -d &apos;jobs/SymphonyOSF/&apos; ]; then
		mkdir -p jobs/SymphonyOSF
	fi
	cp $JENKINS_HOME/jobs/SymphonyOSF/config.xml jobs/SymphonyOSF/
fi

if [ -f $JENKINS_HOME/jobs/CONFIG-ARCHIVER/config.xml ]; then
	if [ ! -d &apos;jobs/CONFIG-ARCHIVER/&apos; ]; then
		mkdir -p jobs/CONFIG-ARCHIVER
	fi
	cp $JENKINS_HOME/jobs/CONFIG-ARCHIVER/config.xml jobs/CONFIG-ARCHIVER/
fi
git checkout master
git add . &amp;&amp; git status
git commit -a -m &quot;Synchronizing Jenkins config&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.git.GitPublisher plugin="git@3.0.1">
      <configVersion>2</configVersion>
      <pushMerge>false</pushMerge>
      <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
      <forcePush>true</forcePush>
      <branchesToPush>
        <hudson.plugins.git.GitPublisher_-BranchToPush>
          <targetRepoName>origin</targetRepoName>
          <branchName>master</branchName>
        </hudson.plugins.git.GitPublisher_-BranchToPush>
      </branchesToPush>
    </hudson.plugins.git.GitPublisher>
  </publishers>
  <buildWrappers/>
</project>