<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject plugin="workflow-multibranch@2.8">
  <actions/>
  <description>[JENKINS-36419](https://issues.jenkins-ci.org/browse/JENKINS-36419) multibranch pipeline cannot index after git plugin 2.5.1 upgrade</description>
  <displayName>JENKINS-36419 multi-branch pipeline AbstractMethodError</displayName>
  <properties/>
  <views>
    <hudson.model.AllView>
      <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric plugin="cloudbees-folder@5.12"/>
  </healthMetrics>
  <icon class="com.github.mjdetullio.jenkins.plugins.multibranch.BallColorFolderIcon" plugin="multi-branch-project-plugin@0.5.1">
    <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
  </icon>
  <orphanedItemStrategy class="com.cloudbees.hudson.plugins.folder.computed.DefaultOrphanedItemStrategy" plugin="cloudbees-folder@5.12">
    <pruneDeadBranches>true</pruneDeadBranches>
    <daysToKeep>0</daysToKeep>
    <numToKeep>0</numToKeep>
  </orphanedItemStrategy>
  <triggers/>
  <sources class="jenkins.branch.MultiBranchProject$BranchSourceList" plugin="branch-api@1.10">
    <data>
      <jenkins.branch.BranchSource>
        <source class="jenkins.plugins.git.GitSCMSource" plugin="git@2.5.3-SNAPSHOT">
          <id>6742324b-391e-4e67-b2b8-d64c09b4b229</id>
          <remote>https://github.com/MarkEWaite/jenkins-bugs</remote>
          <credentialsId></credentialsId>
          <includes>*</includes>
          <excludes></excludes>
          <ignoreOnPushNotifications>false</ignoreOnPushNotifications>
          <gitTool>Default</gitTool>
          <extensions>
            <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
            <hudson.plugins.git.extensions.impl.AuthorInChangelog/>
            <hudson.plugins.git.extensions.impl.CloneOption>
              <shallow>false</shallow>
              <noTags>true</noTags>
              <reference>/var/lib/git/mwaite/bugs/jenkins-bugs.git</reference>
              <timeout>1</timeout>
              <depth>0</depth>
              <honorRefspec>false</honorRefspec>
            </hudson.plugins.git.extensions.impl.CloneOption>
            <hudson.plugins.git.extensions.impl.LocalBranch>
              <localBranch>**</localBranch>
            </hudson.plugins.git.extensions.impl.LocalBranch>
          </extensions>
        </source>
        <strategy class="jenkins.branch.DefaultBranchPropertyStrategy">
          <properties class="empty-list"/>
        </strategy>
      </jenkins.branch.BranchSource>
    </data>
    <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
  </sources>
  <factory class="org.jenkinsci.plugins.workflow.multibranch.WorkflowBranchProjectFactory">
    <owner class="org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject" reference="../.."/>
  </factory>
</org.jenkinsci.plugins.workflow.multibranch.WorkflowMultiBranchProject>