<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>COMMIT_MESSAGE</name>
          <description>Commit message for this set of changes</description>
          <defaultValue>Your message</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>7</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>workspace_dir=$(pwd)

# Remove stored copies of repo so it is not included in the files added to repo
rm -f repo.bundle

cd $JENKINS_HOME/. || exit 1

if [ ! -d $JENKINS_HOME/.git ]; then
    git config --global user.name &quot;Jenkins User&quot; &amp;&amp; \
    git config --global user.email LOGNAME@JENKINS_HOSTNAME &amp;&amp; \
    git init &amp;&amp; \
    echo .cache/ &gt;&gt; .gitignore &amp;&amp; \
    echo .config/ &gt;&gt; .gitignore &amp;&amp; \
    echo .dbus/ &gt;&gt; .gitignore &amp;&amp; \
    echo .java/ &gt;&gt; .gitignore &amp;&amp; \
    echo .jenkins/ &gt;&gt; .gitignore &amp;&amp; \
    echo .m2/ &gt;&gt; .gitignore &amp;&amp; \
    echo tools/ &gt;&gt; .gitignore &amp;&amp; \
    echo userContent/ &gt;&gt; .gitignore &amp;&amp; \
    echo war/ &gt;&gt; .gitignore &amp;&amp; \
    git add .gitignore
fi

git add .
git commit -m &quot;$COMMIT_MESSAGE&quot;

# Store git history bundle for import elsewhere
git bundle create $workspace_dir/repo.bundle HEAD</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
