<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>[JENKINS-30178](https://issues.jenkins-ci.org/browse/JENKINS-30178) a job which runs from a commit notification is missing the default parameters</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@1.0.3">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>A_BOOLEAN_DEFAULT_TRUE</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>A_CHOICE</name>
          <description>A choice parameter</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>First</string>
              <string>SECOND</string>
              <string>Third-no-default</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>A_STRING_DEFAULT_DEF</name>
          <description>A string parameter</description>
          <defaultValue>DEF</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>7</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>7</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/MarkEWaite/JENKINS-26197.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/JENKINS-29482</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <browser class="hudson.plugins.git.browser.GitWeb">
      <url>https://github.com/MarkEWaite/JENKINS-26197.git</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <quietPeriod>0</quietPeriod>
  <assignedNode>master || linux</assignedNode>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec></spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.xshell.XShellBuilder plugin="xshell@0.10">
      <commandLine>echo $A_BOOLEAN_DEFAULT_TRUE $A_CHOICE $A_STRING_DEFAULT_DEF</commandLine>
      <executeFromWorkingDir>false</executeFromWorkingDir>
      <regexToKill></regexToKill>
      <timeAllocated></timeAllocated>
    </hudson.plugins.xshell.XShellBuilder>
    <hudson.tasks.Shell>
      <command>if [ &quot;X$A_BOOLEAN_DEFAULT_TRUE&quot; = &quot;X&quot; ]; then
    exit 1
else
    echo $A_BOOLEAN_DEFAULT_TRUE
fi

if [ &quot;X$A_CHOICE&quot; = &quot;X&quot; ]; then
    exit 2
else
    echo $A_CHOICE
fi

if [ &quot;X$A_STRING_DEFAULT_DEF&quot; = &quot;X&quot; ]; then
    exit 3
else
    echo $A_STRING_DEFAULT_DEF
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.textfinder.TextFinderPublisher plugin="text-finder@1.10">
      <regexp>^true First DEF$</regexp>
      <succeedIfFound>true</succeedIfFound>
      <unstableIfFound>false</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
  </publishers>
  <buildWrappers/>
</project>
